dist/
node_modules
.cache
# Environment variables
.env
.env.*
.env.local
.env.development
.env.production
.env.signing
src/lib/gramjs/build/
build-contest/
tests/
tauri/target/
.idea
*.iml
dev/perf/screenshot*
.DS_store
.github/workflows/*
!.github/workflows/package-and-publish.yml
/vendor/
public/build-stats.json
public/build-stats.json
