#OpenClawColumn {
  --left-column-min-width: 16rem;
  --left-column-max-width: 26.5rem;

  position: relative;

  overflow: hidden;

  width: 33vw;
  min-width: var(--left-column-min-width);
  max-width: var(--left-column-max-width);
  height: 100%;

  background-color: var(--color-background);

  @media (min-width: 926px) {
    --left-column-max-width: 40vw;

    .folders-sidebar-visible & {
      --left-column-max-width: calc(40vw - var(--folders-sidebar-width));
    }
  }

  @media (min-width: 1276px) {
    --left-column-max-width: 33vw;

    width: 25vw;

    .folders-sidebar-visible & {
      --left-column-max-width: calc(33vw - var(--folders-sidebar-width));
    }
  }
}
